/**{
	box-sizing: border-box;
}*/


/*fixing bootstrap defaults*/
#header-nav{
	background-color: #48ade3;
	border-radius: 0;
	border:0;
}

#dropdown-nav{
	background-color: #48ade3;
	/*border-radius: 0;*/
	border:0;
}


/*logo box*/
#logo-box{
	position: relative;	
	/*background-color: white;*/
	background-color:#48ade3;
	height: 55px;
	border: 1px solid black;
	/*top:10px;*/
	/*left:10px;*/
	
}

/*logo image*/
#logo-img{
	position: absolute;
	/*top:  10px;*/
	/*left: 0;*/
	width: 70%;
	height: 100%;
	background-color:#48ade3;

	border: 1px solid black;
}




.navbar-buttons{
	margin-top: 15px; /*putting buttons in center of navbar*/
	color: white;
	border:1px solid black;
}

/*removing style from link*/
a:link {
	text-decoration: none;
	color: white;
}

/* visited link, mouse over link */
a:visited, a:hover {
    color: white;
}

/*when mouse hovers, menu drops down*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.dropdown-menu > li > a{
	color: white;
}




/* Sticky footer styles --> start*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
}
/* Sticky footer styles --> end*/



/*slideshow*/

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;     
    margin: auto;
    height: 500px;
}

.item{
	/*border:1px solid black;*/
}


/*multiple image slider */
.slide{
	/*position: relative;*/
}

.label{
	position: absolute;
    top: 60%;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4); /*rgba(r,g,b,opacity)*/
}


.in-label{
	border:1px solid white;
	background-color: transparent;
	padding:  0px 3px 0px 3px;
	display:inline; /*border wraps around text*/
}

#slider-container{
	background-color: blue;
	/*border:1px solid red;*/
}


#slider-container .container {
	/*border:1px solid red;*/
}





/*news between horizontal line*/
#news {
    overflow: hidden;
    text-align: center;
    color:white;
}
#news:before,
#news:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#news:before {
    right: 0.5em;
    margin-left: -50%;
}
#news:after {
    left: 0.5em;
    margin-right: -50%;
}
/*news between horizontal line*/



.info{
	
}

/*οδηγιες συμμετοχης*/
.outside{
	height: 200px;
	display: table;
}

.inside{
	height:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.sap{
	border: 1px solid white;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}
/*οδηγιες συμμετοχης*/


.takis{
	max-width: 50%;
	border:1px solid black;
}

.row{
	border:1px solid black;
}
